body {
  padding: 50px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

a {
  color: #00B7FF;
  text-decoration: none;
  font-weight: bold;
}
.repolist {
    display: flex;
    .org {
        margin: 8px;
        li {
            display: block;
            padding: 8px;
            border: 1px solid #ddd;
            margin: 8px 0;
            &:hover {
                border: 1px solid #ddf;
                background: #fcfcff;
            }
        }
        width: 300px;
    }
    .repos {
        margin: 0;
        padding: 0;
    }
}
