doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(type='text/javascript', src='/vendor/requirejs/require.js', data-main="/javascripts/app")
  body
    block content
